* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #808080;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;
}

img {
    margin-bottom: 20px;
    max-width: 100%;
    height: 400px;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    animation: up-down 1.2s;
    max-width: 650px;
    width: 100%;
}

@keyframes up-down {
    from {
        transform: translateY(-900px);
    }
}

h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    color: #666;
}

/* * * RESPONSIVE * * */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .container {
        padding: 30px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    .container {
        padding: 20px;
    }

    img {
        max-width: 250px;
    }
}
